{% extends "base.html" %}

{% block app_content %}

    <section class="layout_padding section">
        <div class="container-fluid" style="padding-top: 2cm">
            <div class="row">
                <div class="col-lg-12 text_align_center">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32, id="login", class="fadeIn second") }}<br>
                            {% for error in form.username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32, id="password", class="fadeIn third", type="password") }}<br>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                        <p>Nuevo usuario? <a href="{{ url_for('register') }}">Crear cuenta</a></p>
                        <p>{{ form.submit(class="fadeIn fourth") }}</p>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}